body {
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.menu-item_link {
    text-decoration: none;
    color: brown;
}

.menu-item_link:hover {
    color: burlywood;
}

.main-title {
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
}

.footer {
    background-color: #393a35;
}
.footer_text {
    color: aliceblue;
    font-size: 18px;
    text-align: center;
}